/*General*/
.blue {
  color: #2C5485;
}

/*Header*/
.height95 {
  height: 95px;
}

.padding0 {
  padding-top: 0;
  padding-left: 0;
}

.padding20 {
  padding: 20px;
}

.big-letter {
  font-weight: bold;
  font-size: 18px;
}

.nav li a:hover {
  color: #0EA6E1;
}
/*Initial Carrousel*/
.bold {
  font-weight: bold;
}

.blue-text-carrousel {
  color: #517BA6;
}

.size16 {
  font-size: 15px;
}

.text-justify {
  text-align: justify;
}

/*About us*/
.width300 {
  width: 300px;
}

.line-height1 {
  line-height: 1.5em;
}

/*International Standars*/
.background-image {
  background-image: url(../assets/images/fondo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.margin-bottom40 {
  margin-bottom: 40px;
}

.margin-top40 {
  margin-top: 40px;
}

.white-text {
  color: aliceblue;
}

.height150 {
  height: 150px;
}

/*Contact Us*/
.block {
  display: block;
}

.size40 {
  font-size: 40px;
}

.margin-top20 {
  margin-top: 20px;
}

.margin-bottom20 {
  margin-bottom: 20px;
}

.gray {
  color: #ABABAB;
}

.margin-left20 {
  margin-left: 20%;
}

.margin-top70 {
  margin-top: 70%;
}

.underline {
  text-decoration: underline #015486;
}

.margin-top30 {
  margin-top: 30px;
}

.width60 {
  width: 60%;
}

.margin-left55 {
  margin-left: 55%;
}

.line {
  width: 50%;
}

/*Footer*/
footer {
  color: aliceblue;
  background-color: #015486;
}

.height80 {
  height: 80px;
}

.margin-top30 {
  margin-top: 30px;
}

